<div class="login-container">
  <mat-card>
    <div style="font-size: 1.5rem; margin-bottom: 14px">Register</div>
    <form
      style="width: 22rem"
      [formGroup]="SignUpForm"
      #formDirective="ngForm"
      (ngSubmit)="register(SignUpForm)"
    >
      <mat-form-field>
        <mat-icon matPrefix>person_outline</mat-icon>
        <input
          autofocus
          type="text"
          matInput
          placeholder="Username"
          formControlName="username"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-icon matPrefix>lock_outline</mat-icon>
        <input
          type="password"
          matInput
          placeholder="Password"
          formControlName="password"
        />
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Register</button>
    </form>
  </mat-card>
</div>
